<div>
    <div>
        <h4>Update Profile Picture</h4>
        <input type="url" class="profile-picture">
    </div>
    <div>
        <h4>Update Biography</h4>
        <input type="text" class="biography">
    </div>
    <div>
        <button type="submit" class="btn btn-primary update-user-form">Submit</button>
    </div>
    <script src="/js/dashboard_update.js"></script>
</div>